*.env
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*.*.*.*

data/
outputs/
checkpoints/
tensorboard/
venv/
pika
